<h1 class="text-center text-danger mt-5">
  NOSSO MAIOR OBJETIVO É A SATISFAÇÃO DOS NOSSOS CLIENTES.
</h1>

<div class="container">
  <div class="text-center">
    <img src="../../assets/img/logo.jpeg" alt="logo">
  </div>
</div>

<div class="text-light text-center fs-4">
  AUTOCAR NACIONAIS E IMPORTADOS É UMA LOJA DE AUTO PEÇAS DE PROCEDÊNCIA E GARANTIA!!!
  <br>
  <br>
  TODAS AS PEÇAS DO VEÍCULO A VENDA, MOTOR CÂMBIO, SUSPENSÃO, LATARIA, ACABAMENTOS, FRISOS, FORRAÇÕES, BANCOS, VIDROS,
  MÓDULOS, SENSORES, CHICOTES, BORRACHAS, CORREIAS, MANGUEIRAS E RESERVATÓRIOS.
  <br>
  <br>
  oferece aos seus clientes um estoque diversificado com toda linha de PEÇAS USADAS para carros importados.
  <br>
  <br>
  Somos um CDV (Centro de Desmanche Veicular) credenciado junto ao Detran de SP.
</div>
