<div class="container mt-5">
  <div class="row d-flex justify-content-around">
    <div class="col-4 d-none d-lg-block">
      <form class="mt-5" #listaCarros="ngForm">
        <div class="mb-3">
          <label for="exampleFormControlInput1" class="form-label text-light">Código do veículo</label>
          <input type="text" name="codigo" [(ngModel)]="codigo" class="form-control bg-dark text-light border-danger"
            id="exampleFormControlInput1" placeholder="Código">
        </div>

        <div class="mb-3">
          <label for="exampleFormControlInput1" class="form-label text-light">Tipo de veículo</label>
          <select placeholder="Selecione um tipo" class="form-select bg-dark text-light border-danger w-100"
            [(ngModel)]="tipo" name="tipo" id="exampleFormControlInput1" aria-label="Default select example">
            <option value="" disabled selected hidden>Todos os tipos</option>

            <option value="Entre em contato via WhatsApp para verificar estoque completo">Entre em contato via WhatsApp
              para verificar estoque completo</option>
            <option value="Kit Air Bag - ENTRE EM CONTATO VIA WHATSAPP PARA VERIFICAR ESTOQUE COMPLETO">Kit Air Bag -
              ENTRE EM CONTATO VIA WHATSAPP PARA VERIFICAR ESTOQUE COMPLETO</option>
            <option value="Peças - ENTRE EM CONTATO VIA WHATSAPP PARA VERIFICAR ESTOQUE COMPLETO">Peças - ENTRE EM
              CONTATO VIA WHATSAPP PARA VERIFICAR ESTOQUE COMPLETO</option>
          </select>
        </div>

        <div class="mb-3">
          <label for="exampleFormControlInput1" class="form-label text-light">Marca</label>
          <select class="form-select bg-dark text-light border-danger w-100" placeholder="Selecione um tipo"
            [(ngModel)]="marca" name="marca" id="exampleFormControlInput1" aria-label="Default select example">
            <option value="" disabled selected hidden>Selecione uma marca</option>

            <option value="Renault">Renault</option>
            <option value="Kia">Kia</option>
            <option value="Toyota">Toyota</option>
            <option value="Honda">Honda</option>
            <option value="Audi">Audi</option>
            <option value="Hyundai">Hyundai</option>
          </select>
        </div>

        <div class="mb-3">
          <label for="exampleFormControlInput1" class="form-label text-light">Modelos</label>
          <select placeholder="Selecione uma marca" class="form-select bg-dark text-light border-danger w-100"
            [(ngModel)]="modelo" name="modelo" id="exampleFormControlInput1" aria-label="Default select example">
            <option value="" disabled selected hidden>Selecione um modelo</option>

            <option [value]="modelo" *ngFor="let modelo of modelos">{{modelo}}</option>
          </select>
        </div>

        <div class="mb-3">
          <label for="exampleFormControlInput1" class="form-label text-light">Status do veículo</label>
          <select placeholder="Todos" class="form-select bg-dark text-light border-danger w-100" [(ngModel)]="status"
            name="status" id="exampleFormControlInput1" aria-label="Default select example">
            <option value="" disabled selected hidden>Todos</option>

            <option value="novo">Novo</option>
            <option value="seminovo">Seminovo</option>
            <option value="usado">Usado</option>
          </select>
        </div>
        <div class="mb-3">
          <label for="exampleFormControlInput1" class="form-label text-light">Portas</label>
          <select placeholder="Todas" class="form-select bg-dark text-light border-danger w-100" [(ngModel)]="portas"
            name="portas" id="exampleFormControlInput1" aria-label="Default select example">
            <option value="" disabled selected hidden>Todas</option>

            <option value="2">2</option>
            <option value="4">4</option>
          </select>
        </div>

        <!-- <div class="row">
          <div class="mb-3 col-6">
            <label for="exampleFormControlInput1" class="form-label text-light">Preço Mín.</label>
            <input type="text" class="form-control bg-dark text-light border-danger"  id="exampleFormControlInput1" placeholder="Código">
          </div>
          <div class="mb-3 col-6">
            <label for="exampleFormControlInput1" class="form-label text-light">Preço Máx.</label>
            <input type="text" class="form-control bg-dark text-light border-danger" id="exampleFormControlInput1" placeholder="Código">
          </div>
        </div> -->
        <div class="row">
          <div class="mb-3 col-6">
            <label for="exampleFormControlInput1" class="form-label text-light">Ano de</label>
            <select placeholder="Ano de" class="form-select bg-dark text-light border-danger w-100" [(ngModel)]="anoDe"
              name="ano" id="exampleFormControlInput1" aria-label="Default select example">
              <option value="" disabled selected hidden>Ano de</option>

              <option value="2010">2010</option>
              <option value="2011">2011</option>
              <option value="2012">2012</option>
              <option value="2013">2013</option>
              <option value="2014">2014</option>
              <option value="2015">2015</option>
              <option value="2016">2016</option>
              <option value="2017">2017</option>
              <option value="2018">2018</option>
              <option value="2019">2019</option>
              <option value="2020">2020</option>
              <option value="2021">2021</option>
            </select>
          </div>
          <div class="mb-3 col-6">
            <label for="exampleFormControlInput1" class="form-label text-light">Ano até.</label>
            <select placeholder="Ano até" class="form-select bg-dark text-light border-danger w-100"
              [(ngModel)]="anoAte" name="ano" id="exampleFormControlInput1" aria-label="Default select example">
              <option value="" disabled selected hidden>Ano até</option>

              <option value="2010">2010</option>
              <option value="2011">2011</option>
              <option value="2012">2012</option>
              <option value="2013">2013</option>
              <option value="2014">2014</option>
              <option value="2015">2015</option>
              <option value="2016">2016</option>
              <option value="2017">2017</option>
              <option value="2018">2018</option>
              <option value="2019">2019</option>
              <option value="2020">2020</option>
              <option value="2021">2021</option>
            </select>
          </div>
        </div>
        <button class="btn btn-danger" type="button"
          (click)="catalog.filtrarCarros(codigo, tipo, marca, modelo, status, portas, anoDe, anoAte, carros)">Buscar</button>
      </form>
    </div>
    <div class="col-6 col-lg-4 mt-5">
      <div class="card border-danger mb-5" *ngFor="let carro of catalog.carrosPaginados">
        <img [src]="carro.imagens[0]" class="card-img-top" alt="...">
        <div class="card-body bg-dark text-light">
          <h5 class="card-title fw-bold text-danger">{{ carro.titulo }}</h5>
          <p class="card-text">RETIRADA DE PEÇAS AUTO PEÇAS PROCEDÊNCIA GARANTIDA!!! TODAS AS PEÇAS DO VEÍCULO A VENDA
            MOTOR, CÂMBIO, SUSPENSÃO, LATARIA, ACABAMENTOS, FRISOS, FORRAÇÕES, BANCOS, VIDROS, MÓDULOS, SENSORES,
            CHICOTES, BORRACHAS, CORREI...</p>
        </div>
      </div>
    </div>
  </div>
</div>

<mat-paginator #paginator class="demo-paginator" (page)="handlePageEvent($event)" [length]="catalog.length"
  [pageSize]="pageSize" [disabled]="disabled" [showFirstLastButtons]="showFirstLastButtons"
  [pageSizeOptions]="showPageSizeOptions ? pageSizeOptions : []" [hidePageSize]="hidePageSize" [pageIndex]="pageIndex"
  aria-label="Select page">
</mat-paginator>
