mat-toolbar {
  height: 150px !important;
}

a {
  text-decoration: none;
  color: #fff
}
 #logo-header {
  width: 150px;
 }

 .navbar-brand:hover {
  height: 100%;
  background-color: #b11c2a;
  transition: .2s;
  // color: rgb(75, 75, 75) !important;
  // text-decoration: underline;
 }

@media screen and (max-width: 460px) {
  #black-nav {
    height: 200px !important;
    & i {
      margin-right: 0 !important;
    }
  }
  
  #carouselExampleControls {
    height: 160px !important;
  }
  
  .icon-wrapper {
    margin-right: 20px !important;
  }
  
}
