mat-toolbar {
  height: 150px !important;
}

a {
  // text-decoration: none;
  color: #dc3545
}
 #logo-header {
  width: 150px;
 }

 .navbar-brand:hover {
  height: 100%;
  background-color: #b11c2a;
  transition: .2s;
  // color: rgb(75, 75, 75) !important;
  // text-decoration: underline;
 }

 #contactHeader {

 }
