
#carousel-item1 {
  height: 70vh;
}

.example-container mat-form-field + mat-form-field {
  margin-left: 8px;
}

.example-container mat-form-field {
  width: 220px;
}

a {
  color: white;
  text-decoration: none;
}

.card-img-top {
  width: 100% !important;
  height: 228px;
}

.card-carousel {
  min-height: 420px;
}

.example-container form {
  margin-bottom: 20px;
}

.example-container form > * {
  margin: 12px 0;
}

.example-container .mat-radio-button {
  margin: 0 12px;
}

.example-form-fields {
  display: flex;
  align-items: flex-start;
}

.form-control, .form-select {
  width: 180px !important;
}

.btn-dangerr {
  background-color: rgb(150, 0, 0);
  border-color: rgb(150, 0, 0) !important;
  font-weight: 600;
  width: 120px;
}

/* .card {
  width: 350px;
    height: 500px;
} */

/* .card-lateral {
  width: 760px;
  height: 240px;
} */

.img-card-lateral {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.card-lateral {
  max-width: 100%;
}

.card-lateral .row.g-0 {
  /* display: flex; */
  flex-wrap: wrap;
  align-items: center;
}

.card-lateral .col-md-4 {
  flex: 0 0 auto;
  max-width: 33.333333%;
}

.card-lateral .col-md-8 {
  flex: 0 0 auto;
  max-width: 66.666666%;
}

@media screen and (max-width: 460px) {
  #carousel-item1 {
    height: 160px !important;
  }
}
