<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div id="carousel-item1" class="carousel-item active">
      <img src="../../assets/img/bg-test.jpg" class="d-block w-100 img-fluid" alt="...">
    </div>
    <div id="carousel-item1" class="carousel-item">
      <img src="../../assets/img/bg-test.jpg" class="d-block w-100 img-fluid" alt="...">
    </div>
    <div id="carousel-item1" class="carousel-item">
      <img src="../../assets/img/bg-test.jpg" class="d-block w-100 img-fluid" alt="...">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>


<div class="d-flex justify-content-center">
  <div class="example-container bg-dangerr mt-4" style="width: 70%; border-radius: 5px;">
    <form class="d-flex justify-content-center align-items-center flex-wrap m-0">
      <div class="example-form-fields me-2">
        <input id="cod" type="text" placeholder="Cod." class="form-control w-100 bg-dark text-danger border-danger">
      </div>
      <div class="example-form-fields me-2">
        <select class="form-select bg-dark text-danger border-danger w-100" aria-label="Default select example">
          <option selected>Tipo</option>
          <option value="1">Entre em contato via WhatsApp para verificar estoque completo</option>
          <option value="2">Kit Air Bag - ENTRE EM CONTATO VIA WHATSAPP PARA VERIFICAR ESTOQUE COMPLETO</option>
          <option value="3">Peças - ENTRE EM CONTATO VIA WHATSAPP PARA VERIFICAR ESTOQUE COMPLETO</option>
        </select>
      </div>
      <div class="example-form-fields me-2">
        <select class="form-select bg-dark text-danger border-danger w-100" aria-label="Default select example">
          <option selected>Marca</option>
          <option value="1">Selecione um tipo</option>
        </select>
      </div>
      <div class="example-form-fields me-2">
        <select class="form-select bg-dark text-danger border-danger w-100" aria-label="Default select example">
          <option selected>Ano de</option>
          <option value="2010">2010</option>
          <option value="2011">2011</option>
          <option value="2012">2012</option>
          <option value="2013">2013</option>
          <option value="2014">2014</option>
          <option value="2015">2015</option>
          <option value="2016">2016</option>
          <option value="2017">2017</option>
          <option value="2018">2018</option>
          <option value="2019">2019</option>
          <option value="2020">2020</option>
          <option value="2021">2021</option>
        </select>
      </div>
      <div class="example-form-fields me-2">
        <select class="form-select bg-dark text-danger border-danger w-100" aria-label="Default select example">
          <option selected>Ano até</option>
          <option value="2010">2010</option>
          <option value="2011">2011</option>
          <option value="2012">2012</option>
          <option value="2013">2013</option>
          <option value="2014">2014</option>
          <option value="2015">2015</option>
          <option value="2016">2016</option>
          <option value="2017">2017</option>
          <option value="2018">2018</option>
          <option value="2019">2019</option>
          <option value="2020">2020</option>
          <option value="2021">2021</option>
        </select>
      </div>
      <div class="example-form-fields me-2">
        <button class="btn btn-dangerr text-dark border-danger" type="button">Buscar</button>
      </div>
    </form>
  </div>
</div>

<div class="d-flex justify-content-center">
  <div class="mt-4 bg-dangerr text-center py-2" style="width: 70%; border-radius: 5px;">
    <b>
      ENTRE EM CONTATO VIA WHATSAPP PARA VERIFICAR ESTOQUE COMPLETO
    </b>
  </div>
</div>
<div class="container">

  <div id="carouselExampleControls" class="carousel slide mt-4" data-bs-ride="carousel" data-bs-interval="3000">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="row row-cols-1 row-cols-md-2 row-cols-lg-4 g-4">
          <div class="col d-flex justify-content-center">
            <div class="card border-danger mb-4">
              <img src="../../assets/img/logo.jpeg" class="card-img-top" alt="...">
              <div class="card-body bg-dark text-danger">
                <h5 class="card-title fw-bold">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              </div>
            </div>
          </div>
          <div class="col d-flex justify-content-center">
            <div class="card border-danger mb-4">
              <img src="../../assets/img/logo.jpeg" class="card-img-top" alt="...">
              <div class="card-body bg-dark text-danger">
                <h5 class="card-title fw-bold">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              </div>
            </div>
          </div>
          <div class="col d-flex justify-content-center">
            <div class="card border-danger mb-4">
              <img src="../../assets/img/logo.jpeg" class="card-img-top" alt="...">
              <div class="card-body bg-dark text-danger">
                <h5 class="card-title fw-bold">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              </div>
            </div>
          </div>
          <div class="col d-flex justify-content-center">
            <div class="card border-danger mb-4">
              <img src="../../assets/img/logo.jpeg" class="card-img-top" alt="...">
              <div class="card-body bg-dark text-danger">
                <h5 class="card-title fw-bold">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="row">
          <div class="col d-flex justify-content-center">
            <div class="card border-danger mb-4">
              <img src="../../assets/img/logo.jpeg" class="card-img-top" alt="...">
              <div class="card-body bg-dark text-danger">
                <h5 class="card-title fw-bold">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              </div>
            </div>
          </div>
          <div class="col d-flex justify-content-center">
            <div class="card border-danger mb-4">
              <img src="../../assets/img/logo.jpeg" class="card-img-top" alt="...">
              <div class="card-body bg-dark text-danger">
                <h5 class="card-title fw-bold">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              </div>
            </div>
          </div>
          <div class="col d-flex justify-content-center">
            <div class="card border-danger mb-4">
              <img src="../../assets/img/logo.jpeg" class="card-img-top" alt="...">
              <div class="card-body bg-dark text-danger">
                <h5 class="card-title fw-bold">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              </div>
            </div>
          </div>
          <div class="col d-flex justify-content-center">
            <div class="card border-danger mb-4">
              <img src="../../assets/img/logo.jpeg" class="card-img-top" alt="...">
              <div class="card-body bg-dark text-danger">
                <h5 class="card-title fw-bold">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

    <div class="text-center text-danger my-5">
      <b>
        EM NOSSO SITE TEM APENAS UMA PREVIA DO QUE TEMOS EM ESTOQUE. ENTRE EM CONTATO VIA WHATSAPP E FAÇA SEU ORÇAMENTO COMPLETO.
      </b>
    </div>

    <div class="d-flex justify-content-center">
      <div class="my-2 bg-dangerr text-center py-2" style="width: 70%; border-radius: 5px;">
        <b>
          KIT AIR BAG - ENTRE EM CONTATO VIA WHATSAPP PARA VERIFICAR ESTOQUE COMPLETO
        </b>
      </div>
    </div>

    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-4 g-4 mt-5">
      <div class="col d-flex justify-content-center">
        <div class="card border-danger">
          <img src="../../assets/img/logo.jpeg" class="card-img-top" alt="...">
          <div class="card-body bg-dark text-danger">
            <h5 class="card-title fw-bold">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
        </div>
      </div>
      <div class="col d-flex justify-content-center">
        <div class="card border-danger">
          <img src="../../assets/img/logo.jpeg" class="card-img-top" alt="...">
          <div class="card-body bg-dark text-danger">
            <h5 class="card-title fw-bold">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
        </div>
      </div>
      <div class="col d-flex justify-content-center">
        <div class="card border-danger">
          <img src="../../assets/img/logo.jpeg" class="card-img-top" alt="...">
          <div class="card-body bg-dark text-danger">
            <h5 class="card-title fw-bold">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
        </div>
      </div>
      <div class="col d-flex justify-content-center">
        <div class="card border-danger">
          <img src="../../assets/img/logo.jpeg" class="card-img-top" alt="...">
          <div class="card-body bg-dark text-danger">
            <h5 class="card-title fw-bold">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
        </div>
      </div>
    </div>

    <div class="text-center text-danger my-5">
      <b>
        TODAS AS PEÇAS DO VEÍCULO A VENDA, MOTOR CÂMBIO, SUSPENSÃO, LATARIA, ACABAMENTOS, FRISOS, FORRAÇÕES, BANCOS, VIDROS, MÓDULOS, SENSORES, CHICOTES, BORRACHAS, CORREIAS, MANGUEIRAS E RESERVATÓRIOS. SÃO VISTORIADOS E COM GARANTIA!
      </b>
    </div>

    <div class="d-flex justify-content-center">
      <div class="my-2 bg-dangerr text-center py-2" style="width: 70%; border-radius: 5px;">
        <b>
          PEÇAS - ENTRE EM CONTATO VIA WHATSAPP PARA VERIFICAR ESTOQUE COMPLETO
        </b>
      </div>
    </div>

    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-4 g-4 mt-5">
      <div class="col d-flex justify-content-center">
        <div class="card border-danger">
          <img src="../../assets/img/logo.jpeg" class="card-img-top" alt="...">
          <div class="card-body bg-dark text-danger">
            <h5 class="card-title fw-bold">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
        </div>
      </div>
      <div class="col d-flex justify-content-center">
        <div class="card border-danger">
          <img src="../../assets/img/logo.jpeg" class="card-img-top" alt="...">
          <div class="card-body bg-dark text-danger">
            <h5 class="card-title fw-bold">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
        </div>
      </div>
      <div class="col d-flex justify-content-center">
        <div class="card border-danger">
          <img src="../../assets/img/logo.jpeg" class="card-img-top" alt="...">
          <div class="card-body bg-dark text-danger">
            <h5 class="card-title fw-bold">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
        </div>
      </div>
      <div class="col d-flex justify-content-center">
        <div class="card border-danger">
          <img src="../../assets/img/logo.jpeg" class="card-img-top" alt="...">
          <div class="card-body bg-dark text-danger">
            <h5 class="card-title fw-bold">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
        </div>
      </div>
    </div>

    <div class="text-center text-danger my-5">
      <b>
        ENTRE EM CONTATO E FAÇA SEU ORÇAMENTO VIA WHATSAPP (41) 99197-9235
      </b>
    </div>
</div>


  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="card card-lateral bg-dark text-danger border-danger mb-3">
          <div class="row g-0 align-items-stretch">
            <div class="col-md-4">
              <img src="https://via.placeholder.com/150" alt="..." class="img-fluid img-card-lateral h-100">
            </div>
            <div class="col-md-8">
              <div class="card-body ">
                <h5 class="card-title fw-bold">Card Title</h5>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum id risus vitae ipsum sagittis feugiat. Donec tincidunt sed elit non faucibus.</p>
                <button class="btn btn-dangerr text-dark">Botão</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card card-lateral bg-dark text-danger border-danger mb-3">
          <div class="row g-0 align-items-stretch">
            <div class="col-md-4">
              <img src="https://via.placeholder.com/150" alt="..." class="img-fluid img-card-lateral h-100">
            </div>
            <div class="col-md-8">
              <div class="card-body bg-dark text-danger border-danger">
                <h5 class="card-title fw-bold">Card Title</h5>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum id risus vitae ipsum sagittis feugiat. Donec tincidunt sed elit non faucibus.</p>
                <button class="btn btn-dangerr text-dark">Botão</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <!-- <div class="row">
    <div class="col-md-6">
      <div class="card card-lateral bg-dark text-danger border-danger mb-3">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="https://via.placeholder.com/150" alt="..." class="img-fluid img-card-lateral">
          </div>
          <div class="col-md-8">
            <div class="card-body ">
              <h5 class="card-title fw-bold">Card Title</h5>
              <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum id risus vitae ipsum sagittis feugiat. Donec tincidunt sed elit non faucibus.</p>
              <button class="btn btn-dangerr text-dark">Botão</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card card-lateral bg-dark text-danger border-danger mb-3">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="https://via.placeholder.com/150" alt="..." class="img-fluid img-card-lateral">
          </div>
          <div class="col-md-8">
            <div class="card-body bg-dark text-danger border-danger">
              <h5 class="card-title fw-bold">Card Title</h5>
              <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum id risus vitae ipsum sagittis feugiat. Donec tincidunt sed elit non faucibus.</p>
              <button class="btn btn-dangerr text-dark">Botão</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div> -->





